@model Nickel.Web.ViewModels.Product.IndexViewModel
@{
    ViewBag.Title = "Products";
    ViewBag.ActiveProduct = "active";
}

<div class="row">
    <div class="col-md-6">
        <h1>Products List</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Url.Action("Create", "Product")" class="btn btn-success">
            <i class="fa fa-plus"></i> Add Product
        </a>
    </div>
</div>


<div class="row">
    @if (Model != null && Model.Products != null && Model.Products.Count() > 0)
    {
        foreach (var product in Model.Products)
        {
            <div class="col-lg-3 mb-2">
                <div class="card">
                    <img class="card-img-top" src="@Url.Content(product.Photo)" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="text-danger"><strong>@product.PriceWithCurrency</strong></p>
                        <p class="card-text">@product.ShortDescription</p>
                        <div class="row">
                            <div class="col-xl-12 mb-2">
                                <a href="@Url.Action("Details", "Product", new { id = product.Id })" title="View More" class="btn btn-outline-warning">
                                    View More
                                </a>
                                <a href="#@product.Id" class="btn btn-outline-success" title="Buy">
                                    <i class="fa fa-money-check"></i>
                                </a>
                                <a href="@Url.Action("Create", "Cart", new { quantity = 1, id = product.Id, returnUrl = Request.Url.ToString() })" class="btn btn-outline-info" title="Add to card">
                                    <i class="fa fa-cart-arrow-down"></i>
                                </a>
                            </div>
                            <div class="col-xl-12">
                                <a href="@Url.Action("Edit", "Product", new { id = product.Id, returnUrl = Request.Url.ToString() })" class="btn btn-outline-secondary" title="Edit Product">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Product", new { id = product.Id, returnUrl = Request.Url.ToString() })" class="btn btn-outline-danger" title="Delete Product">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
